---
//import { Image } from 'astro:assets';


 interface Props {
    nameProduct: String;
    offer: String;
    price : String;
    countSold: String;
    image : String;
  
}
const {nameProduct, offer, price, countSold, image } = Astro.props
    
---

<div class="product">
    <div class="container_img">
        <img src={image} alt="" >
    </div>
    <h5 class="name_product">
        {nameProduct}
    </h5>
    <p  class="product_description">
        <span>{offer}</span>

        <div class="container_price">
            <span class="price">{price}</span>
            <span class="countSould">{countSold}</span>
        </div>
    </p>
</div>


<style>
.product{
    width: 200px;
    height: 250px;
}
.container_img{
    width: 100%;
    height: 60%;
    
}
.container_img > img{
    width: 100%;
    height: 100%;

}
.name_product{
    font-size: 20px;
    margin: 0;
}
.product_description{
    margin: 0;
}
.product_description > span{
    margin: 0;
}
.container_price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}
.price{
    width: 50%;
    color: #f86808;
    font-size: 15px;
}
.countSould{
    width: 50%;
    font-size: 12px;
    color: #939393;
    display: flex;
    justify-content: flex-end;
    
}

</style>